body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  min-height: 800px;
}

.form-container h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.message a {
  color: #007bff;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #3e8e41;
}
